* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'InkyThinPixels';
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    background: url('files/background/bg.png');
    background-size: cover; 
    color: #fff;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    position: relative;
}

.menu-burger{
    display: none;
}

/* Хедер */
.header {
    display: flex;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 90px;
    height: 90px;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

span{
    display: none;
}

.menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    left: 2%;
    position: relative;
}

.menu a {
    color: #fff;
    font-size: 24px;
}

.icns {
    display: flex;
    gap: 30px;
    position: relative;
}

.icns img {
    width: 60px;
    height: 60px;
}

.product-slider {
    width: 85%;
    margin: 30px auto;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 51px;
    flex-wrap: nowrap;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.product img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.product p {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
}

.text{
    color: white;
    font-size: 60px;
}

.container-catalog {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 40px;
    margin: 40px;
    margin-left: 80px;
}

@font-face {
    font-family: 'InkyThinPixels';
    src: url(font/ljk_Inky-Thin-Pixels.otf) format(opentype);
}