@media (max-width: 1280px){
    .one-text {
        margin-left: 800px;
    }

    .two-text {
        margin-left: 800px;
        top: 31%
    }

    .three-text {
        margin-left: 800px;
        top: 62%;
    }

    .four-text {
        margin-left: 800px;
    }

    .five-text {
        margin-left: 800px;
    }

    .button {
        margin-left: 800px;
        width: 460px;
    }

    .color-selection {
        margin-left: 800px;
        top: 40%;
    }
}

@media (max-width: 1024px){
    .logo img{
        width: 70px;
        height: 70px;
    }

    .icns{
        gap: 20px;
    }

    .icns img{
        width: 50px;
        height: 50px;
    }

    .menu ul {
        gap: 30px;
        padding: 0;
        left: 0;
    }
    
    .menu a {
        color: #fff;
        font-size: 20px;
    }

    .one-text {
        margin-left: 640px;
    }

    .two-text {
        margin-left: 640px;
        top: 31%
    }

    .three-text {
        margin-left: 640px;
        top: 62%;
    }

    .four-text {
        margin-left: 640px;
        top: 88%;
    }

    .five-text {
        margin-left: 640px;
        top: 96%;
    }

    .button {
        margin-left: 640px;
        width: 360px;
        top: 75%;
    }

    .color-selection {
        margin-left: 640px;
        top: 40%;
    }
}

@media (max-width: 768px){
    .menu ul {
        gap: 25px;
        left: -4%;
    }
    
    .menu a {
        color: #fff;
        font-size: 18px;
    }

    .icns {
        right: -2%;
    }

    .item {
        display: none;
    }

    .one-text {
        margin-left: 500px;
        font-size: 28px;
    }

    .two-text {
        margin-left: 500px;
        top: 30%;
        font-size: 18px;
    }

    .three-text {
        margin-left: 500px;
        top: 55%;
        font-size: 32px;
    }

    .four-text {
        margin-left: 500px;
        top: 77%;
        font-size: 28px;
    }

    .five-text {
        margin-left: 500px;
        top: 84%;
        font-size: 16px;
    }

    .button {
        margin-left: 500px;
        width: 250px;
        top: 65%;
    }

    .button p {
        font-size: 24px;
    }

    .color-selection {
        margin-left: 500px;
        top: 37%;
    }

    .color-option {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px){
    body {
        background: url('../files/background/bg.png') fixed;
        background-size: contain;
    }

    .header{
        position: fixed;
        width: 100%;
        padding: 24px;
        top: 0;
        z-index: 10;
        background: url('../files/background/bg-dark.png');
        background-size: cover;
        transition: box-shadow 0.3s ease-in-out;
    }

    .header.shadow {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .logo {
        left: 12%;
    }

    .icns {
        display: none;
    }

    .menu {
        display: none;
    }

    span{
        display: flex;
        position: absolute;
        left: 38%;
        transform: translateX(-50%);
        font-size: 26px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    .menu-burger {
        display: flex;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: fixed;
        top: 26px;
        right: 26px;
        z-index: 3;
        cursor: pointer;
        display: block;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
      }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
    }
      
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
      
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
      
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
      
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    
    .menu-list {
        top: 0;
        right: 0;
        position: fixed;
        display: block;
        padding: 85px 0;
        margin: 0;
        background: url(../files/background/bg-burger.png);
        background-size: cover;
        list-style-type: none;
        transform: translateX(103%);
        transition: .3s;
        max-width: 100vw;
        width: 200px;
        height: 100%;
        z-index: 2;
    }

    .menu-list.shadow {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    }
      
    .menu-item {
        display: block;
        padding: 20px;
        color: white;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
    }

    .menu-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    
    .menu-item-icons img {
        width: 60px;
        height: 60px;
    }
      
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
      
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }

    .item {
        display: none;
    }

    .one-text {
        margin: 0;
        font-size: 28px;
        width: max-content;
        max-width: 240px;
        text-align: center;
        top: 73%;
        display: flex;
        left: 50%;
        transform: translate(-50%);
    }

    .two-text {
        margin-left: 0;
        display: none;
    }

    .three-text {
        margin: 0;
        top: 102%;
        font-size: 46px;
        left: 50%;
        transform: translate(-50%);
    }

    .four-text {
        margin: 0;
        top: 127%;
        left: 5%;
    }

    .five-text {
        top: 134%;
        padding-bottom: 10%;
        left: 5%;
        font-size: 18px;
        max-width: 350px;
        margin: 0;
    }

    .button {
        margin: 0;
        width: 390px;
        top: 115%;
    }

    .color-selection {
        margin-left: 0;
        top: 81%;
        left: 5%;
    }

    .dots {
        top: 68%;
    }

    .slider-container {
        display: block;
        margin-top: 78px;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }
    
    .custom-slider-container {
        display: none;
    }

    .slider-pc {
        display: none;
    }
}